backend/Milestone7_backend/.vs/VSWorkspaceState.json
backend/Milestone7_backend/.vs/slnx.sqlite
backend/Milestone7_backend/.vs/ProjectEvaluation/milestone7_backend.strings.v9.bin
backend/Milestone7_backend/.vs/ProjectEvaluation/milestone7_backend.projects.v9.bin
backend/Milestone7_backend/.vs/ProjectEvaluation/milestone7_backend.metadata.v9.bin
backend/Milestone7_backend/.vs/Milestone7_backend/v17/DocumentLayout.json
backend/Milestone7_backend/.vs/Milestone7_backend/v17/DocumentLayout.backup.json
backend/Milestone7_backend/.vs/Milestone7_backend/v17/.wsuo
backend/Milestone7_backend/.vs/Milestone7_backend/v17/.suo
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/dfbd7b08-3200-4351-834b-3ab485d33f32.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/de407f63-c1bc-4acf-81ae-d0df85690f92.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/8d649bf5-6472-4f62-9313-05cd545a917a.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/766b89e2-93de-486c-9d49-3559146f4ec3.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/6622dd5d-6a63-4a60-a4d7-a2722146c2eb.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/646bfe24-7b2e-40f9-82c2-aa67100c4dd5.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/61eb53d6-a951-4057-9133-33d8cd681e62.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/5676a345-65f2-4011-aa54-03e07cea0893.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/4e561685-f168-4f47-88cf-305d5b587f4c.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/4c626fcd-ced0-41ca-ad8e-7be224d07c01.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/DesignTimeBuild/.dtbcache.v2
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Milestone7/v17/DocumentLayout.json
.vs/Milestone7/v17/DocumentLayout.backup.json
.vs/Milestone7/v17/.wsuo
.vs/Milestone7/FileContentIndex/7d94c1bd-eb42-4f52-97cc-aaff4e428db0.vsidx
.vs/Milestone7/FileContentIndex/6ed4eccf-e32f-4469-bd84-7159b4cf81af.vsidx
.vs/Milestone7/FileContentIndex/5bc08c64-312f-4e1a-9877-7cb17365ce08.vsidx
.vs/Milestone7/FileContentIndex/17c47f80-7323-4637-b5d0-46354a188078.vsidx
backend/Milestone7_backend/.vs/Milestone7_backend/FileContentIndex/646bfe24-7b2e-40f9-82c2-aa67100c4dd5.vsidx
