.container {
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.02);
    flex-direction: column;
    display: flex;
    width: 428px;
  }
  
  .pageTitle {
    text-align: center;
    color: #006d3a;
    font-size: 32px;
    margin: 20px 0;
    padding: 0 20px;
  }
  
  .moduleList {
    flex-direction: column;
    gap: 14px;
    padding: 40px 40px 80px;
    display: flex;
  }
