.container {
  min-height: screen;
  background-color: #fff;
  flex-direction: column;
  display: flex;
}

.wrapper {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.content {
  background-color: #fff;
  flex-direction: column;
  width: 100%;
  display: flex;
  height: 100vh; /* Ensure the content takes full viewport height */
}

.chatbotIframe {
  height: 100%;
  min-height: 700px;
  border: none;
}

/* Message List Styles */
.messageList {
  flex: 1;
  overflow-y: auto;
}

.messageContainer {
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  display: flex;
}

/* Message Styles */
.botMessage,
.userMessage {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.userMessage {
  align-items: flex-end;
}

.messageSender {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 16px;
}

.botMessageContent {
  color: #1e1e1e;
  background-color: #dff5eb;
  border-width: 1px;
  border-color: #006d3a;
  border-radius: 8px;
  min-width: 240px;
  min-height: 80px;
  padding: 12px 16px;
  font-family: Inter;
  font-size: 16px;
  line-height: 140%;
}

.userMessageContent {
  color: #1e1e1e;
  background-color: #fff;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 8px;
  min-width: 240px;
  min-height: 80px;
  padding: 12px 16px;
  font-family: Inter;
  font-size: 16px;
  line-height: 140%;
}

.messageImage {
  width: 100%;
  height: auto;
}

/* Input Styles */
.inputContainer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 4px -4px 4px #00000040;
}

.inputWrapper {
  align-items: center;
  gap: 12px;
  padding: 8px;
  display: flex;
}

.textInputWrapper {
  flex: 1;
  position: relative;
}

.textInput {
  color: #888;
  border-width: 1px;
  border-color: #6f6f6f;
  border-radius: 5px;
  width: 100%;
  height: 52px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: Inter;
  font-size: 16px;
}

.sendButton {
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 48px;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.sendIconWrapper {
  background-color: #006d3a;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
}

.sendIcon {
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}


.dropdownMenu {
  position: absolute;
  top: 220px; /* Adjust to move below the menu button */
  left: 350px; /* Aligns it with the button */
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.menuItem {
  padding: 10px;
  text-decoration: none;
  color: green;
  border-bottom: 1px solid green;
  text-align: center;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover {
  background-color: rgba(0, 128, 0, 0.1);
}
